<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo"
      >Lloyd<span class="header-logo-span">Jefferson.</span></a
    >
    <svg width="32" height="32" class="header-burger">
      <use href="/img/sprite.svg#menu-burger" />
    </svg>
  </div>
  <div class="overlay-menu-wrapper">
    <svg width="32" height="32" class="overlay-close-icon">
      <use href="/img/sprite.svg#close-icon" />
    </svg>
    <nav class="overlay-nav">
      <ul class="overlay-list">
        <li class="overlay-item">
          <a class="overley-menu-link" href="#aboutme">About me</a>
        </li>
        <li class="overlay-item">
          <a class="overley-menu-link" href="#">Projects</a>
        </li>
        <li class="overlay-item">
          <a class="overley-menu-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
