<section class="section">
  <div class="container hero-container">
    <div class="hero-wrapper-top">
      <h1 class="hero-title">
        Hello, I am <span class="hero-title-span">Fullstack developer</span>
      </h1>
      <a href=""
        ><img
          class="hero-image"
          src="./img/hero/hero_1.webp"
          alt="developer"
          srcset="/img/hero/hero_1.webp 1x, /img/hero/hero_2x.webp 2x"
      /></a>
    </div>
    <div class="hero-wrapper-down">
      <div class="wrapper-order">
        <svg width="28" height="28" class="hero-arrow">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
        <p class="hero-order-text">Order the project</p>
      </div>
      <p class="hero-descr">
        I work with people all over the world to create
        <span class="hero-descr-span">impressive</span> and
        <span class="hero-descr-span">functional websites</span> that reflect
        each client’s unique personality.
      </p>
    </div>
  </div>
</section>
